@model IEnumerable<RestoranUygulaması.Models.Yemek>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yemek_adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.yemek_adi)
    </td>
    <td>
        @Html.ActionLink("Icindekiler", "IcindekilerGör", "Icindekilers", new { id = item.yem_id }, null) |
        @Html.ActionLink("Fiyat", "FiyatGör", "Fiyats", new { id = item.yem_id }, null) |
        @Html.ActionLink("Hazirlanis", "HazirlanisGör", "Hazirlanis", new { id = item.yem_id }, null)
    </td>
</tr>
}

</table>
