@model IEnumerable<RestoranUygulaması.Models.Kullanici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kul_ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kuk_soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kul_eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kul_sifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kul_ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kuk_soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kul_eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kul_sifre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kul_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.kul_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kul_id })
        </td>
    </tr>
}

</table>
